.HomePage {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.HomePageContainer {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #37006a 0%, #4f0088 13%, #6f00a7 25%, #8700c5 38%, #7c00d4 50%, #7000c5 62%, #5c00a7 75%, #320088 87%, #004a6a 100%);
    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
}

@keyframes animate{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
}

.Heading {
    font-size: 6vw;
    text-align: center;
}
  
.SubHeading {
    font-size: 3.5vw;
}

/* ------MEDIA QUERY (PHONE)------ */
@media screen and (max-width: 600px) {
    .Heading {
        font-size: 1.9em;
    }

    .SubHeading {
        font-size: 1.5em;
    }
}






/* .Home {
    margin-top: 10%;
}


@media only screen and (max-width: 1000px) {
    .navOption {
        font-size: 18px;
    }
} */